# Gemini API Key (automatically provided in AI Studio)
GEMINI_API_KEY=

# Server bearer token authentication
ACCESS_TOKEN=tiens-bon-token

# Optional Ollama URL
OLLAMA_URL=http://127.0.0.1:11434

# Server Port
PORT=3000

# Disable HMR
DISABLE_HMR=true
